version: '3.1'

services:
  caddy:
    image: caddy:2
    container_name: "caddy"
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./cer.pem:/etc/caddy/cer.pem
      - ./cer.key:/etc/caddy/cer.key

networks:
  default:
    external:
      name: lucis_network

